<div class="dialogue">
  <div class="text">{{data.text}}</div>
  <ul class="options">
    {{#each data.responses}}
      <li class="option" choice="{{id}}">
        > {{text}}
      </li>
    {{/each}}
  </ul>
</div>