//this is a comment
d#0 Hello world, {{player.name}}. After waking up from a painfully uncomfortable sleep, you get up and look around
  d#1 You find yourself in a dilapidated corridor, the walls look like ancient abandoned stones. Torches light up the walls around you
    d#2 What do you do?
      d(next=1) Examine Area
      d(next=3) Left
      d(next=4) Right
      d(then='GOTO_BRIDGE') Bridge

d#3 Dank room
  d You go back, the room was too dank
    d(next=1)

d#4 Dank meme
  d You don't even know how you got here, let's just slowly walk back…
    d(next=1)